.login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.login-card {
  width: 420px;
  padding: 16px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
