/* You can add global styles to this file, and also import other style files */


@use '@carbon/styles/scss/config' with (
    // Use flexbox for grid - stick to CSS Grid or Flexbox
    // CSS Grid has become the default grid system in v11
    $use-flexbox-grid: true,
    // Update path of fonts to exclude tilde, required for vite (Angular 16+)
    $font-path: '@ibm/plex'
);

@use '@carbon/styles';

// Import css variables in root
html {
    @include styles.theme(styles.$white);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Override MDC list primary text to use flex layout so content can be aligned in columns */
.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
	display: flex !important;
	align-items: center !important;
}

